/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav a {
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: blue;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

h2 {
  font-size: 20px;
}

.home-container {
  text-align: center;
}

.joke-list-container {
  display: flex;
  flex-flow: column nowrap;
}

.joke-list-container h1 {
  text-align: center;
}

.joke-container {
  text-align: center;
  margin: 10px 0px;
}

.login-container form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  margin: 0 auto;
}

.login-container form input {
  padding: 10px;
  margin: 10px;
}

.login-container form button {
  width: 25%;
  margin: 0 auto;
  padding: 5px;
  border-radius: none;
}

.login-container p {
  text-align: center;
  margin: 10px 0px;
}

.login-container h1 {
  text-align: center;
}

.register-container form {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  margin: 0 auto;
}

.register-container form input {
  padding: 10px;
  margin: 10px;
}

.register-container form button {
  width: 25%;
  margin: 0 auto;
  padding: 5px;
  border-radius: none;
}

.register-container p {
  text-align: center;
  margin: 10px 0px;
}

.register-container h1 {
  text-align: center;
}

.logout-container {
  text-align: center;
}